@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

.register-form{
    display:flex;
    padding-top:500px;
    justify-content: center;
    align-items: center;
    flex-direction: column;

.registerbtn{
    padding: 8px;
    border-radius: 7px; 
    margin-right: 80px;   
&:hover{
    cursor: pointer;
    scale: 101%;
    transition: ease-in-out;
    transition-duration: 550ms;
    }
} 
.login-link{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    font-family: 'Inter', sans-serif;
    font-size: 17px;
    color: rgb(72, 0, 255);
}

}
