
.form{
    display:flex;
    padding-top:500px;
    justify-content: center;
    align-items: center;
    flex-direction: column;

.registerbtn{
    margin-left: 200px;
} 
.validation{
    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 30px;
    font-family: 'Inter', sans-serif;
    font-size: 17px;
    color: red;
}
}