@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
$font:"Inter";
.form{
    display:flex;
    align-items: center;
    justify-content: center;

.prod-title{
    margin-left: 48px;
}
.prod-price{
    margin-left: 45px;
}
.prod-description{
    margin-left: 4px;
    width: 320px;
    height: 100px;
}
.prod-image{
    margin-left: 36px;
}
.prod-category{
    margin-left: 19px;
    width: 350px;
}
.item-updated{
    font-family: $font;
    margin-top: 0px;
    margin-left: 100px;
    font-weight: 700;
    color: rgb(135, 242, 135);
}
.subbtn{
    margin-left: 85px;
}
}